# Exercícios - Salarios de São Francisco

Bem-vindo a um exercício rápido para você praticar suas habilidades de pandas! Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo. As tarefas se tornarão cada vez mais difíceis.

**Importe o pandas como pd.**

In [3]:
import pandas as pd

**Leia o arquivo Salaries.csv como um DataFrame chamado "sal".**

In [4]:
sal = pd.read_csv("Salaries.csv")

**Verifique o "head" do DataFrame.**

In [5]:
display(sal.head())

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use o método .info () para descobrir quantas entradas existem.**

In [6]:
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

**Quantidade de funcionários e por JobTitle**<br>
**Total gasto e por agência**<br>
**Total de horas extras**<br>

In [7]:
# Quantidade de funcionários 
func = sal['EmployeeName'].unique()
qtdefunc = len(func)
print(f'quantidade de funcionários: {qtdefunc}')


# Quantidade de funcinarios por cargo (job title)

jobfunc = sal.groupby('JobTitle') ['Id'].count()
print(jobfunc)


print("_________________________________________________________________________________")
# Total de horas extras pagas (overtime pay)

total_extras = sal['OvertimePay'].sum()
print(f'Total de horas extras pagas em $: {total_extras}')

quantidade de funcionários: 110811
JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Name: Id, Length: 2159, dtype: int64
_________________________________________________________________________________
Total de horas extras pagas em $: 753069802.12

**Qual é o "BasePay" médio?**

In [8]:
mediasal = sal['BasePay'].mean()
print(f'Média de salário base anual em $: {mediasal:.2f}')

Média de salário base anual em $: 66325.45

**Qual é a maior quantidade de "OvertimePay" no conjunto de dados?**

In [9]:
maior_pagamento_em_hora_extra = sal['OvertimePay'].max()
print(f"Maior valor pago em horas extras : {maior_pagamento_em_hora_extra}" )

Maior valor pago em horas extras : 245131.88

**Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas).**

In [10]:
cargo_joseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

display(cargo_joseph)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)?**

In [11]:
Ganho_joseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

print(Ganho_joseph)

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Qual o nome da pessoa mais bem paga (incluindo benefícios)?**

In [12]:
maxSal = sal['TotalPayBenefits'].max()
maxsalarioemp = sal[sal['TotalPayBenefits'] == maxSal]['EmployeeName'].values[0]
print(f'Nome da pessoa com maior salario é : {maxsalarioemp} com um salario de: $ {maxSal}')

Nome da pessoa com maior salario é : NATHANIEL FORD com um salario de: $ 567595.43

**Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga?**

In [13]:
lowSal = sal['TotalPayBenefits'].min()
lowsalarioemp = sal[sal['TotalPayBenefits'] == lowSal]['EmployeeName'].values[0]
print(f'Nome da pessoa com menor salario é : {lowsalarioemp} com um salario de: $ {lowSal}')

Nome da pessoa com menor salario é : Joe Lopez com um salario de: $ -618.13

**Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)?**

In [14]:
mediasalporano = sal.groupby('Year')['BasePay'].mean()
print(mediasalporano)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Quantos títulos de trabalho únicos existem?**

In [15]:
trabalhounicos = sal['JobTitle'].nunique()
print(trabalhounicos)

2159

**Quais são os 5 principais empregos mais comuns?**

In [16]:
cincoempregoscomum = sal['JobTitle'].value_counts().head(5)
print(cincoempregoscomum)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?)**

In [17]:
cincoempregoscomum = sal[sal['Year'] == 2013] 
onejob = sum(cincoempregoscomum['JobTitle'].value_counts() == 1)

print(onejob)

202

**BONUS - Quantas pessoas têm a palavra Chefe em seu cargo?**